---
import SEO from '../components/SEO.astro';
import type { Preload } from '@/models/preload.model';
interface Props {
	title: string;
	description: string;
	preload?: Array<Preload>;
	canonical?: string;
	image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			canonical={canonical}
			description={description}
			image={image}
			preload={preload}
			title={title}
		/>
	</head>
	<body class="bg-slate-700">
		<main
			class="flex relative overflow-hidden justify-center items-center h-full w-full font-sans"
		>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html,
	body {
		width: 100vw;
		height: 100vh;
	}
</style>
